*{
   box-sizing: border-box; 
}
/* bộ chọn root */
:root{
    --font-heading: "Sen", sans-serif;
    --btn-color: #ffb900;
}


html{
    font-size: 52.6%;
    /* dat font nay de doi kich
     thuoc cho de tinh toan */
}

body{
    font-size: 1.6rem;
    font-family: Poppins ;
}
/*=======================---common- chung ==================================*/

a{
    text-decoration: none;
}
ul{
   list-style: none;
}
.h2-heading{
    font-family: var(--font-heading);
font-size: 38px;
font-weight: 700;
letter-spacing: -0.02em;
text-align: left;
color: rgba(23, 17, 0, 1);

}

.btn{
    display: inline-block;
    padding: 0px 16px;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 50px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    
    background: #171100;
    border-radius: 999px;


}
.btn:hover{
    opacity: 0.7;
}

.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);   /* giups cho khi co dãn màn h thì ptu ko bị ép vao lề, 2 ben le van con khoan cach */
    margin-left: auto;
    margin-right: auto;
}

.nav a{
    color: #5F5B53;
    padding:  8px 21px;  
        /*  */     /* dc cho trc mawc ddinh */
   font-size: 2.5rem;
   position: relative;
}
.nav li.active a,  /* viet nhu nay no se ap dung cho ca 2 ddtg -> giup chu home luon den */
.nav a:hover{
    color: #171100;
    text-shadow: 1px 0 0 currentColor; /* mauf hien tai */
}
/* thêm  chưa xong */
.nav a:hover::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: " ";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
}



.nav li.active a::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: " ";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
}

/* --======line-clamp=== */
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp,1); 
    /* --> quá 1 dòng sẽ hiển thị dấu 3 chấm */
    -webkit-box-orient: vertical;
    overflow: hidden;  /* ẩn noi dung thừa di */
    /* text-overflow: ellipsis;
    display: -webkit-box; */
}
/* neu muon 2 dong mới xuống dòng  */
.line-clamp.line-2{
    --line-clamp: 2;
}

/* bo đi dáu cách hoặc liền quá để xuống dong */
/* word-break: break-all */
.break-all{
    word-break: break-all;
}

/* ---------------===================-header =========================*/
.header{
    background: rgba(255, 252, 244, 1);

}

.header{
    position: sticky;
    top: -26px;
    z-index: 1;
}

.header.fixed{
    position: sticky;
    top: -26px;
}
.header .body-header{
    display: flex;
    /* viet tawt la df tab */
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 8px;
}
.main-content .body-header{
    width: 100%;
}

nav{
    margin-left: auto;    
    /* viet tawt la mla tab */
}

.nav ul{   
    display: flex;

}
.btn-sign-up{
    margin-left: 49px;
    line-height: 45px;
    padding: 0 30px;
}
/* ---------------------------HERO======================== */
.hero{
    padding: 56px;
    background: rgba(255, 252, 244, 1);

    
}
.hero .heading{
    background: linear-gradient(90deg, #00ffff, #ff00c3)
    ;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .body{
    display: flex;
}
/* ============================hero left  */
.hero .media-block{
    width: 48%;
    position: relative; /* bo */
}
.hero .content-block{
    width: 52%;
}
/* chỉnh cố định kích thước ảnh */

.hero .media-block>img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

/* các chọn đg linl dài : shift+alt+ mũi tên trỏ phải
nhớ bôi đen đến chứ https:// */


/* cho hero-summary bám vào ảnh */


.hero .hero-summary{
    position: absolute;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.05);
    width: 270px;
    padding: 24px;

}
.hero-summary .item{
    display: flex;
    align-items: center;
}
.hero-summary .item+ .item{
    margin-top: 22px;
}
.hero-summary .intro{
    margin-left: 16px;
}

.hero-summary .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* cawn giua */
    justify-content: center;
    align-items: center;
    background-color: #FFF9E8;
}
.hero-summary .icon2{
    background-color: #fcefff;
    
}
.hero-summary .icon3{
    background-color: #ebeaff;
    
}
.hero-summary .intro .label{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: rgba(95, 91, 83, 1);

}
.hero-summary .intro .title{
    font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 30px;
text-align: left;
color:  rgba(23, 17, 0, 1);

}
/* ====================================hero left =========================== */

.hero .content-block{
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.content-block .heading{
    font-family: var(--font-heading);
font-size: 5.8rem;
font-weight: 700;
line-height: 68px;
letter-spacing: -0.02em;
text-align: left;
line-height: 1.17;
}
.hero .desc{
    margin-top: 22px;
font-size: 18px;
line-height: 1.67;
color: rgba(95, 91, 83, 1);

}
.hero .cta-group{
    margin-top: 38px;
    align-items: center;

}
.hero .btn-cta{
    min-width: 150px;
    background-color: var(--btn-color);
    line-height: 54px;
    
}
.hero .watch-vide{
    border: none;
    background-color: transparent;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
}
.hero .cta-group{
    display: flex;

}
.hero .watch-vide{
    display: flex;
    cursor: pointer;
}

.hero .watch-vide>.icon{
    margin-right: 8px;
}
.hero .watch-vide>.icon img{
    margin-top: 15px;

}

.hero .watch-vide>.icon span{
    /* font-family: Poppins; */
    /* display: inline block; */
font-size: 18px;
font-weight: 600;
line-height: 30px;
text-align: left;
color: #ffb900;

}

.hero .dec50k{
    margin-top: 10px;
}

.hero .dec50k :nth-child(2){
   margin-left: 28px;
}
.hero .dec50k strong{
    font-family: var(--font-heading);
font-size: 44px;
font-weight: 700;
line-height: 54px;
text-align: left;
margin-right: 5px;

}

/* ====================popular=================== */

.popular{
    background: #ffffff;
  padding: 65px 0;
  margin-top: 135px;

}
/* --------top---------------------------------------- */

.popular .h2-pp{
    margin-bottom: 16px;
}
.popular .popular-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .popular-top .desc{
    width: 458px;
    font-family: var(--font-heading);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color:  rgba(95, 91, 83, 1);

}
.popular .popular-top .btn-pp{
    background: transparent;
    border-radius: 50%;
}
.pp-icon{
    width: 98px;
height: 40px;
top: 1142px;
left: 1207px;
gap: 0px;
opacity: 0px;
color: rgba(255, 185, 0, 1);
display: flex;
gap: 18px;  /*khoang cach giua 2 nut*/

}
.pp-icon .btn-pp{
    width: 40px;
height: 40px;
top: 1142px;
left: 1247px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid var(--btn-color);

display: flex;
justify-content: center;
align-items: center;
color: var(--btn-color);
}
.popular .pp-icon .btn-pp:hover{
    background-color: var(--btn-color);
    color: #FFFFFF;
    cursor: pointer;

}

/* --------------------buttom--------------------------- */
.popular-buttom-list{
    display: flex;
    padding: 20px 0px;
    margin-top: 55px;
    gap: 30px;
}
.popular-buttom-list:hover .pp-item:not(:hover){
    opacity: .7;
    transform: scale(.95);
    transition: all 0.3s ease;
 
 }

.pp-item{
border-radius: 12px;
border: 1px solid #e2dfda;
background-color: #ffffff;
}

.popular-buttom-list .pp-item:hover{
   border-radius: 12px;
   background: 1px solid transparent ;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
}

.popular-buttom-list .pp-item .thumb{
width: 100%;
border-radius: 12px, 12px, 0px, 0px;
height: 278px;
object-fit: cover;

}
/* info */
.popular-buttom-list .info{
    padding: 16px 22px 22px 22px;
}

.popular-buttom-list .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-buttom-list .title{
font-size: 18px;
font-weight: 600;
line-height: 30px;
text-align: left;
color: rgba(23, 17, 0, 1);


}

.popular-buttom-list .rating{
    display: flex;
    align-items: center;
}

.popular-buttom-list .star{
    margin-right: 8px;
}
.popular-buttom-list .value{
    color: var(--btn-color);
}
.popular-buttom-list .desc{
font-size: 14px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: rgba(95, 91, 83, 1);
margin-top: 8px;
}

.popular-buttom-list .foot{
    display: flex;
    align-items: center;
margin-top: 12px;
    justify-content: space-between;
}

.popular-buttom-list .foot .price{
    font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 30px;
text-align: left;

}
.popular-buttom-list .foot .btn{
    padding: 10px 20px;
}

.popular-buttom-list .foot .btn:hover{
    background-color: var(--btn-color);
    color: #FFFFFF;
    cursor: pointer;
}
/* ===========================FEEDBACK===================================== */
.feedback{
    margin-top: 135px;
    background: #2E2100;
    padding: 96px 0;
}
.feedback-list{
    display: flex;
    overflow: hidden;  /* ẩn đi */
    width: 1170px;
}
.feedback-item{
    display: flex;
    flex-shrink: 0;   /*co dãn =0*/

}
.feedback .feedback-item .info-fb{
  
    width: 159px;
   height: 188px;


}

.feedback .feedback-item .avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
   
}

.feedback .feedback-item .name-fb{
    margin-top: 18px;
    font-family: Sen;
font-size: 24px;
font-weight: 700;
line-height: 34px;
text-align: left;
color: #F7F7F7;


}
.feedback .feedback-item .info-fb .desc-fb{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #BFBCB2;
    margin-top: 10px;
    margin-bottom: 20px;

}

/* phair */
.conten-fb{
    width: 770px;
    height: 188px;
margin-left: 250px;
    margin-bottom: 18px;

   
top: 2041px;
left: 535px;


}

.feedback .feedback-item .conten-fb .block-quote{
font-size: 26px;
font-style: italic;
font-weight: 200;
line-height: 4rem;
text-align: left;
color: #FFFFFF;
width: 740px;
height: 160px;

margin-left: 30px;

}
.feedback .feedback-item .dots{
    width: 30px;
height: 6px;
top: 2223px;
left: 135px;
gap: 0px;
opacity: 0px;
cursor: pointer; /* hiện bàn tay */

}
/* nháp */

.dots2{
    margin-top: 0px;
    display: flex;
    gap: 6px;
margin-left: 70px;
}
.dot2{
    width: 6px;
height: 6px;
top: 2223px;
left: 159px;
gap: 0px;
background: #634700;
border-radius: 50%;
padding: 3.5px;
cursor: pointer; /* hiện bàn tay */

}
/* active */
.feedback .feedback-item .dot2.active{
    background: var(--btn-color);
    cursor: default; 
    /* de nhung cai hien mau vang r thi khong có bàn tay nữa*/
}


/* ********** ĐẶC BIỆT TẠO HIỆU ỨNG TRƯỢT ============================================= */



/* ===========================feature  đặc biệt  ================== */
.feature{
    margin-top: 135px;
    padding: 65px 0;
}

.body-fetu{
    display: flex;
}

/* trai*/
.images{
    display: flex;
    width: 570px;
    border-radius: 16px 0px 0px 0px;
    margin-right: 130px;
}
.feature .body-fetu .images .anh1-a{
    width: 270px;
    height: 404px;
    margin-right: 30px;
    border-radius: 16px 0px 0px 0px;
    margin-top: 34px;

}
.feature .body-fetu .images .anh2-a{
margin-bottom: 33px;
}


/* phải */
.content-fetu{
    margin: 58px 0;
}

.content-fetu .d1{
    width: 458px;
height: 84px;

font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: #5F5B53;
margin-top: 30px;






}
.content-fetu .d2{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #5F5B53;
    margin-top: 15px;
    margin-bottom: 40px;

}

.content-fetu .b2{
    min-width: 137px;
   min-height: 50px;
    text-align: center;
    padding: 0;
    padding-top: 10px;
background: var(--btn-color);




}
    /* ===================CTA============================= */
.CTA{
    margin-top: 135px;
    padding: 65px 0;
}
.body-cta{
    display: flex;
}
/* trái  */
.cta-conten{
    width: 570px;
    border-radius: 16px 0px 0px 0px;
    margin-right: 130px;

}

.b2-cta{
    margin-top: 50px;
    
}

/* phải */
/* thừa hưởng feature */

/* ================blog=============================================== */
.BLOG{
    background: #FFFCF4;

}
/* top */
.blog-top .blog-text{
    width: 448px;
    height: 120px;
    align-items: center;
    margin: 0 30%;



}
.h2-blog{
    text-align: center;
}

.BLOG .blog-text .desc-blog{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 448px;
    height: 56px;




}
/* buttom */

.rating .dot2{
    background: var(--btn-color);
    margin-right: 5px;
}
.BLOG .head-blog{
    justify-content: left; 
}
.BLOG .head-blog .desc{
    margin-top: 0;
}
.hr-bl{
  width: 160px;
height: 1px;
background: #E2DFDA;
margin-left: 0;

border-radius: 0.5px 0px 0px 0px;


}
.BLOG .bt-bl{
    margin-top: 40px;
}
.BLOG .dots-blog{
    justify-content: center;
    margin-top: 70px;
}

.BLOG .dots-blog .dot-bl{
    background: var(--btn-color);
}


/* ========================FOOTER============================ */
footer{
    color: #FFFFFF;
    ;
    background: #2E2100;
    margin-top: 135px;
    padding: 65px 0;
}
/* .body-footer{
} */
.top-fter{
    display: flex;
    margin-bottom: 30px;
}

/* trai */
.body-footer .top-fter .lesson{
    width: 267px;
height: 163px;
margin-right: 140px;
margin-bottom: 50px;


}
.body-footer .lesson .desc{
    width: 267px;
height: 78px;
font-size: 17.5px;
font-weight: 400;
line-height: 26px;
text-align: left;
margin-top: 20px;
margin-bottom: 16px;

}
.body-footer .lesson .socil{
    width: 111px;
    height: 15px;
    color:  #FFFFFF;
   

}
.body-footer .lesson .socil img{
   margin-left: 10px;
   cursor: pointer;
}


/* phải */
.body-footer .reight-ft{
    display: flex;
}
.body-footer .reight-ft .to a{
    color: #FFFFFF;
}


.body-footer .reight-ft .to{
    margin-right: 140px;
    width: 130px;
height: 211px;


}
.body-footer .reight-ft .to .a-comp{
    width: 82px;
    height: 28px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}
.body-footer .reight-ft .to .desc{
font-size: 14px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #BFBCB2;
display: block;
margin: 10px 0;
}
.body-footer .reight-ft .to hr{
    width: 130px;
height: 1px;
background: #59554B;
margin-bottom: 35px;
margin-top: 15px;

}
/* adđ */
.body-footer .reight-ft .add .add-1{
    width: 231px;
    height: 199px;
   
    
}
.body-footer .reight-ft .to .add-1{
    display: flex;
    width: 231px;
height: 52px;
}
.body-footer .reight-ft .to .add-1 .cont-add{
font-size: 14px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #BFBCB2;
margin-left: 10px;
margin-top: -6px;

}
.body-footer .reight-ft .to .add-1  .ad-res{
    font-weight: 700;
}
.body-footer .cuoi{
    color: #FFFFFF;
    display: block;
    text-align: center;
    margin-top: 40px;
}
